<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/2tle/staticfiles@master/static/css/normalize.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/2tle/staticfiles@master/static/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/master.css">
<script src="https://cdn.jsdelivr.net/gh/2tle/staticfiles@master/static/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/2tle/staticfiles@master/static/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>



<title>게시판</title>
